@using Pe.Stracon.SGC.Presentacion.Recursos.Base
@using Pe.Stracon.SGC.Presentacion.Recursos.Contractual
@model Pe.Stracon.SGC.Presentacion.Core.ViewModel.Contractual.ListadoContrato.ContratoParrafoFirmanteFormulario
<script type="text/javascript">
    ns('Pe.Stracon.SGC.Presentacion.Contractual.ListadoContrato.FormularioContratoParrafoFirmante.Models')
    Pe.Stracon.SGC.Presentacion.Contractual.ListadoContrato.FormularioContratoParrafoFirmante.Models.FormularioContratoParrafoFirmante = @Html.Raw(Json.Encode(Model))
</script>
<div id="divContenedorContratoParrafoFirmante">
    <form id="frmContratoParrafoFirmante">
        <div class="row">
            <div class="col-sm-12">
                @Html.Raw("<button id=\"btnAgregrarContratoParrafoFirmante" + @Model.CodigoVariable + "\" class=\"btn btn-default\" type=\"button\">" + @GenericoResource.BotonAñadir + "</button>")
                <hr />
            </div>
        </div>
        <div id="@("divGrdResultContratoParrafoFirmante" + @Model.CodigoVariable)">
        </div>
    </form>
    <div class="comp-Modal-footer">
        <button class="btn btn-default" id="@("btnCancelarContratoParrafoFirmante" + @Model.CodigoVariable)">@GenericoResource.BotonCancelar</button>
        <button class="btn btn-primary" id="@("btnAceptarContratoParrafoFirmante" + @Model.CodigoVariable)">@GenericoResource.BotonAceptar</button>
    </div>
</div>
